@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/css/Login.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <main class="container-forgout-password">
        <div class="back-forgout">
             <div class="header-forgout">
                <span></span>
                <h3 class="title-forget">Esqueceu a Senha...</h3>
            </div>
            <div class="container text-forget-passsword">
                <p class="text-forget-passsword">Por favor, entre em contato com <br/> o seu gestor, para que ele possa <br/> te passar a nova senha.</p><br/>
                <div class="container emoji-forget-password">
                    <p class="emoji-forget-password">👍😉</p>
                </div>
            </div>
            <div class="container link-login">
                <a href="Login.cshtml" class="link-back-login">Voltar para a Tela de Login</a>
            </div>
        </div>
        <div class="back-red"></div>
    </main>
</body>
</html>

