@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="~/css/Login.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <main class="container-login">
            <div class="back-red"></div>
            <div class="back-form">
                <form class="form-login">
                    <div class="container-logo">
                        <img src="~/assets/logo.png" class="img-logo" />
                    </div>
                    <br />
                    <div class="header-form">
                        <span></span>
                        <h3 class="text-login">Entrar como funcionário</h3>
                    </div>
                    <div class="fields-login">
                        <input type="text" class="input-login" placeholder="Nome de Usuário" />
                        <input type="text" class="input-login" placeholder="Senha" />
                    </div>
                    <div class="container forget-password">
                        <a href="EsqueceuSenha" class="forget-password">Esqueceu a senha?</a>
                    </div>
                    <div class="container button-login">
                        <button class="btn-login">Entrar</button>
                    </div>
                </form>
            </div>
        </main>
    </body>
</html>
