* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #fff;    
}

main {
    display: flex;
    height: 100vh;
}

.back-red {
    background: #F82F40;
    width: 60%;
    height: 100%;
    padding: 10rem;
}

.back-form {
    height: 20vw;
    padding: 10rem;
}

.form-login {
    width: 100%;
    background: #E4E4E4;
    border-radius: 10px;    
    padding: 5rem;
    text-align: center
}

.img-logo {
    width: 7rem;
}

.header-form {
    display: flex;
}

.header-form span {
    width: 0.3vw;
    padding: 1px;
    background: #433F43;
    margin-right: 0.5rem;
}

.text-login {
    font: bold 1.5rem 'Roboto', sans-serif;
    color: #000;
}

.fields-login {
    margin-top: 2rem;
}

.input-login {
    background: #BEC7EC;
    outline: none;
    width: 100%;
    margin-top: 0.8rem;
    padding: 1rem;
    border: none;
    border-radius: 5px;
}

.container.forget-password {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.forget-password {
    color: #000;
    opacity: 54%;
    font: 900 0.9rem 'Roboto', sans-serif;
}


.container.button-login {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    background: red;
    border-radius: 5px;
}

.btn-login {
    background: #F82F40;
    color: #fff;
    font: bold 1rem 'Roboto', sans-serif;
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.btn-login:hover {
    opacity: 85%;
}
