* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #fff;    
}

.container-login, .container-forgout-password {
    display: flex;
    height: 100vh;
}

.back-red {
    background: #F82F40;
    width: 60%;
    height: 100%;
    padding: 10rem;
}

.back-form {
    height: 20vw;
    padding: 10rem;
}

.form-login {
    width: 100%;
    background: #E4E4E4;
    border-radius: 10px;
    padding: 5rem;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.img-logo {
    width: 7rem;
}

.header-form {
    display: flex;
}

.header-form span {
    width: 0.3vw;
    padding: 1px;
    background: #433F43;
    margin-right: 0.5rem;
}

.text-login {
    font: bold 1.5rem 'Roboto', sans-serif;
    color: #000;
}

.fields-login {
    margin-top: 2rem;
}

.input-login {
    background: #BEC7EC;
    outline: none;
    width: 100%;
    margin-top: 0.8rem;
    padding: 1rem;
    border: none;
    border-radius: 5px;
}

.container.forget-password {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.forget-password {
    color: #000;
    opacity: 54%;
    font: 900 0.9rem 'Roboto', sans-serif;
}


.container.button-login {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.btn-login {
    background: #F82F40;
    color: #fff;
    font: bold 1rem 'Roboto', sans-serif;
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.btn-login:hover {
    opacity: 85%;
    transform: translateX(5%);
}

.back-forgout {
    background: #fff;
    width: 60%;
    padding: 10rem;
}

.header-forgout {
    display: flex;
}

.header-forgout span {
    width: 0.5vw;
    padding: 2px;
    background: #433F43;
    margin-right: 0.5rem;
}

.title-forget {
    font: bold 3rem 'Roboto', sans-serif;
    color: #000;
}

.container.text-forget-passsword {
    margin-top: 6rem;
}

.text-forget-passsword {
    font: bold 2rem 'Roboto', sans-serif;
    color: #4F494B;
}

container.emoji-forget-password{
    display: flex;
    align-items: center;
}

.emoji-forget-password {
    text-align: center;
    font-size: 2.5rem;
}

.container.link-login {
    margin-top: 5rem;
    text-align: center;
}

.link-back-login {
    font: bold 1.5rem 'Roboto', sans-serif;
    color: #F82F40;
}